[submodule "cyclonedds"]
	path = cyclonedds
	url = https://github.com/eclipse-cyclonedds/cyclonedds.git
[submodule "zephyr"]
	path = zephyr
	url = https://github.com/zephyrproject-rtos/zephyr.git
[submodule "autoware"]
	path = autoware
	url = https://github.com/autowarefoundation/autoware.git
